.projects-container {
    margin-top: 90px;
}

.project {
    display: flex;
    border-left: solid 1px $text;
    margin-bottom: 60px;
    
    .project-content {
        padding-top: 30px;
        padding-bottom: 120px;
        padding-right: 30px;
        position: relative;
        width: 70%;
        
        small {
            color: $accent;
        }
        
        h4 {
            margin-bottom: 15px;
        }
        
        .cta {
            position: absolute;
            bottom: 45px;
            left: 0;
        }
    }
    
    .project-thumbnail {
        width: 30%;
        height: 100%;
        right: 0;
        position: absolute;
        overflow: hidden;
        
        img {
            height: 110%;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
    }
    
    .project:nth-last-child(1) {
        margin-bottom: 0;
    }
}

.negative-margin {
    margin-bottom: -105px;
}

.project-block {
    margin-bottom: 90px;
    
    hr {
        margin: 60px 0;
    }
    
    strong {
        font-weight: bold;
        color: $text;
    }
    
    .big {
        font-weight: bold !important;
        font-size: $h6size;
        
        p {
            font-weight: bold;
        }
    }
}
    
.img-container {
    img {
        width: 100%;
    }
    
    video {
        width: 100%;
    }
}

.rslides_nav {
    position: absolute;
    bottom: 45px;
    right: 60px;
    z-index: 45;
    color: $white;
    svg {
        filter: drop-shadow(0 2px 6px rgba($black, .7));
    }
    
}

.rslides_nav.prev {
    right: 75px;
}